body {
    font-family: Arial;
    background: #1e1e2f;
    color: white;
    text-align: center;
}

nav {
    background: #000;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 40px;
}
